@import "tailwindcss";

:root {
  --bg-light: linear-gradient(180deg, rgba(46, 137, 255, 1) 0%, rgba(76, 157, 255, 1) 33%, rgba(122, 192, 255, 1) 66%, rgba(194, 246, 255, 1) 100%);
  --bg-dark: linear-gradient(180deg, rgba(6, 8, 110, 1) 0%, rgba(28, 23, 126, 1) 33%, rgba(44, 35, 138, 1) 66%, rgba(88, 65, 170, 1) 100%);
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  background: var(--bg-light);
}

html.dark body {
  background: var(--bg-dark);
}