@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #861a1a;
  }
}

body {
  color: red;
}

.homepage {
  background-image: url("../public/windows_xp.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
