@import "tailwindcss";

:root {
  --bg-light: linear-gradient(180deg,rgba(93, 141, 161, 1) 0%, rgba(169, 170, 138, 1) 24%, rgba(183, 123, 96, 1) 54%, rgba(122, 100, 122, 1) 100%);
  --bg-dark: linear-gradient(180deg,rgba(1, 1, 7, 1) 0%, rgba(2, 3, 34, 1) 7%, rgba(21, 18, 99, 1) 19%, rgba(62, 31, 125, 1) 28%, rgba(108, 50, 110, 1) 40%, rgba(201, 115, 73, 1) 54%);
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  background: var(--bg-light);
}

html.dark body {
  background: var(--bg-dark);
}